/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

nav {
    background-color: #444;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: #f0f0f0;
}

section {
    padding: 20px;
}

.project {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

/* Optional: Add media queries to make the website responsive */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }

    header p {
        font-size: 14px;
    }
}
.heading {
    color:black:
}
.center {
    display: block;
    margin-right: auto;
    margin-left:auto;
    padding-top:10px;
    padding-bottom:10px;
    
    
  }